$primary-color: #46a4a3;
$secondary-color: #ef9740;
$background-color: #ffffff;
$label-color: #666666;
$heading-color: #444444;
$btn-background: #cccccc;
.club-events{
    background-color: $background-color;
    border-radius: 15px;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
    position: relative;

    .club-events-header{
        border-bottom: 1px solid $secondary-color;
        h6{
            color: $primary-color;
            font-weight: bold;
        }
    }
    .event-list{
        border-bottom: 1px solid $heading-color;
        h5{
            font-size: 1rem;
            font-weight: bold;
            color: $heading-color;
        }
        h6{
            color: $label-color;
        }
    }
    button{
        outline: none;
        border: none;
        background-color: $btn-background;
        color: $background-color;
        padding: 6px 11px;
        border-radius: 50%;
        position: absolute;
        bottom: -6%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}