doctype html
html
  //- head{{{
  //--------------------------------------
  //               Header
  //--------------------------------------
  head
    title 3ZERO Club

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="shortcut icon" href="public/images/favicon.ico")

    link(href="public/fonts/fontawesome/css/fontawesome.css" rel="stylesheet")
    link(href="public/fonts/fontawesome/css/brands.css" rel="stylesheet")
    //- link(href="public/fonts/fontawesome/css/solid.css" rel="stylesheet")

    link(rel="stylesheet", href="index.css")

    script(src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js")
    script(src="https://www.gstatic.com/firebasejs/8.6.3/firebase-auth.js")
    script(src="https://www.gstatic.com/firebasejs/8.6.3/firebase-firestore.js")
    script(src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js")

    script(src="scripts/dom_utils.js" defer)
    script(src="scripts/firebase.js" defer)
    script(src="scripts/index.js" type="module" defer)




  // }}}
  //- body{{{
  body
    //- navigation{{{
    nav
      a(href="/")
        img(src="public/images/3ZC.svg")
      #menu
        a(href="/") Home
        a(href="about") About
        a(href="/#latest") Events
        a(href="sign-up") Register
        a(href="3z-global-centre") 3Z Global Centre
    // }}}
    block main
    //- footer{{{
    section#footer.grid.three
      article
        img(src="public/images/3ZC_alt.svg")
        p The 3ZERO Club is an initiative towards achieving the Nobel Peace Laureate Professor Muhammad Yunus’s vision of creating a world of three zeros — zero net carbon emission, zero wealth concentration for ending poverty, and zero unemployment by unleashing entrepreneurship in all.
      article#links(style="--order: 1")
        a(href="/") Home
        a(href="/about") About
        a(href="/#latest") Events
        a(href="/3z-global-centre") Contact
        a(href="/sign-up") Register
      article

        //- #contact
        //-   a(href="#" target="_blank" rel="noopener noreferrer")
        //-     i(class="fab fa-facebook-f")
        //-   a(href="#" target="_blank" rel="noopener noreferrer")
        //-     i(class="fab fa-instagram")
        //-   a(href="#" target="_blank" rel="noopener noreferrer")
        //-     i(class="fab fa-twitter")
        //-   a(href="#" target="_blank" rel="noopener noreferrer")
        //-     i(class="fab fa-youtube")
        //-   a(href="#" target="_blank" rel="noopener noreferrer")
        //-     i(class="fab fa-linkedin-in")

        p EXO, 3Z Global Centre
        p 9th Floor, Grameen Telecom Bhaban,
        p Zoo Road, Mirpur, Dhaka-1216, Bangladesh
        p#email Email: connect@3zero.Club
      article(style="--order: 2")
        p © 2021.  Yunus Centre. All Rights Reserved.

      //- article
      //- article
      //-   p Supported by Centre Yunus Paris and
      //-   p Yunus and You – The YY Foundation

    // }}}
