$bg_light: #eee
$fg_dark_text: #444
$fg_dark_title: #222

$bg_dark: #222
$fg_light_text: #ddd
$fg_light_text: #eee
$fg_light_title: #fff

// $shadow: 0 0 1em 0 lightgrey
// $shadow: 0 0 1em 0 grey
$shadow: 0.25em 0.25em 0.25em 0 grey

$orange: #ef9740
// $orange: #f0aa55

$teal:#46a4a3
// $teal:#54b1b2

$light_teal: #aadcda
// $light_teal: #aadddb

body
  background: $bg_light

h1, h2, h3
  color: $fg_dark_title

p,
a
  color: $fg_dark_text

#call_to_action
  h2:nth-child(2)
    color: $orange
  a h2
    // color: $teal
    // border: 0.10em solid $orange
    background: $orange
    color: $fg_light_title


#footer
  background: $teal

  p,
  a
    color: $fg_light_text

  a
    text-decoration: underline

  i
    color: $teal
    background: $fg_light_title

  #links
    &:before, &:after
      background: $fg_light_title

#header_texts
  h1, h2
    color: $fg_light_title

#who_we_are
  a
    color: $teal
    border: 0.10em solid $teal
    padding: 1em
    width: max-content
    font-weight: bold

    &:after
      content: ""
      display: inline-block
      transform: rotate(-45deg)
      border: solid $teal
      border-width: 0 2.5px 2.5px 0
      padding: 2.5px
      margin-left: 0.5em
      margin-bottom: 0.10em

#registration
  article
    // box-shadow: $shadow
    background: $teal
    h2
      color: $fg_light_title
    p
      color: $fg_light_text

    // a
    //   background: $orange
    //   color: $fg_light_title
    //   font-weight: bold

  &:before
    background: $light_teal

#who_we_are
  h3
    color: $teal
  h2
    color: $orange

#text_container
  border-left: 0.25em solid $orange

#latest
  &:before
    background: $teal
  h2
    color: $orange
  h3
    color: $fg_light_title
    &:first-child
      color: $fg_light_title
      @media (min-width: 601px)
        color: $teal
        
  a
    color: $orange
    font-weight: bold


.shadow
  box-shadow: 0.75em 0.75em 0 0 $teal

nav
  // background: $bg_light
  background: rgba($bg_light, 0.95)
  box-shadow: 0 0 0.5em 0 grey
  a
    color: $teal
    &:hover,
    &:active
      color: $orange !important

    &:last-child
      color: $fg_light_title
      background: $teal

      &:hover,
      &.active_link
        background: $orange
        color: $fg_light_title !important

input,
select,
textarea
  background: inherit
  border: solid $fg_dark_text
  border-width: 0 0 0.05em 0

input[type="submit"]
  background: $orange
  color: $fg_light_title
  border: none

#sign_up
  background: $light_teal
  section
    background: $bg_light

    .submit
      color: $fg_light_title
      background: $orange
      border: none

    a
      color: $orange

    .button
      p,
      i
        color: $fg_light_title

      &:nth-child(1)
        background: #da463a
      &:nth-child(2)
        background: #4367b1
      &:nth-child(3)
        background: #23a0f2
      &:nth-child(4)
        background: #0183bf

.orange_button
  background: $orange
  color: $fg_light_title

#Layer_1
  .cls-1,
  .cls-3
    fill: $light_teal

#mission_vision
  grid-gap: 5em
  h2
    color: $teal
  p
    border-left: 0.25em solid $orange


.register
  h1,
  h2,
  h3
    color: $teal

  #warn
    color: red

  #hint
    color: $orange


#call_to_action
  span
    color: $orange


.underline
  &:after
    content: ""
    display: block
    height: 3px
    transform: scaleX(0)
    background: $orange

    transition: transform 750ms
    // transition: transform 250ms linear

    transform-origin: right

    // transform-origin: left

  &:hover:after
    transform-origin: left
    transform: scaleX(1)

.active_link
  color: $orange !important

#resources
  h2
    color: $teal
  h3
    color: $orange

  .title
    &:after
      background: $teal

#tzgc,
#contact_section
  #contact
    h2
      color: $teal
      margin-bottom: 1em

    input,
    textarea
      margin-top: 1em

    input[type="submit"]
      margin-top: 2.5em

#contact_section section article:nth-child(2)
  align-self: center

.quote
  padding: 0.25em 0 0.25em 2em
  border-left: 0.25em solid $orange

#events
  h2,
  h3
    color: $teal
  a
    color: $orange


#about
  #affiliating
    h2
      color: $teal
    h3
      color: $orange

  #club
    article:first-child
      // background: $light_teal
      background: $teal
      h2
        // color: $teal
        color: $fg_light_title
      p
        // color: white
        // font-weight: bold
        color: $fg_light_text

  #focus_areas
    h3
      color: $orange
    .grid p
      border-left: 0.25em solid $orange
    .arrow:after
      border: solid $orange
      border-width: 0 0.25em 0.25em 0

  #activities,
  #focus
    h2
      color: $teal

  #circle
    article:first-child
      background: $teal
      h2
        color: $fg_light_title
      p
        color: $fg_light_text
    article:last-child
      h2,
      h3
        color: $teal


  #affiliation
    h2
      color: $teal
    h3
      color: $orange

    .affiliation_container
      border: 0.25em solid $teal

  #resources_redirect
    a
      color: $orange
