// header{{{
#header

  padding: 0
  display: grid

  // grid-template-rows: 200px auto
  @media (min-width: 601px)
    // grid-template-rows: auto
    grid-template-columns: 1fr 1.75fr

  #ripple_container
    overflow: hidden
    svg,
    img
      transform: scale(3)
      @media (min-width: 601px)
        transform: scale(3) translate(17%, 10%)

  #header_hero
    article
      position: relative
      #header_texts
        position: absolute

        bottom: 2.5%
        left: 5%

        // width: 100%
        // top: 50%
        // transform: translateY(-50%)

        // h1,
        // h2
        //   line-height: 1

        // h1, h2
        //   text-align: center

        // left: 50%
        // transform: translateX(-50%)

      &:before
        content: ""
        position: absolute
        inset: 0
        background: rgba(black, 0.25)
// }}}
// registration{{{

#registration,
#latest
  position: relative
  &:before
    content: ""
    position: absolute
    width: 100%
    height: 50%

    // height: 100%
    // @media (min-width: 601px)
    //   height: 50%

    bottom: 0
    left: 0
    z-index: -99

#registration
  // padding: 0
  &:before
    top: 0
  article
    padding: 2em
    padding-bottom: 5em
    position: relative

    h2
      text-align: center
      margin-bottom: 0.5em

    @media (min-width: 601px)
      width: max-content
      margin: 0 auto

    p
      text-align: center

    a
      // width: max-content
      // padding: 1em 2em

      position: absolute
      bottom: 0
      left: 50%
      transform: translate(-50%, 50%)

      // @media (min-width: 601px)
      //   top: 75%
      //   left: 75%
      //   transform: translate(-50%, -50%)


// }}}
// who we are{{{
#who_we_are
  grid-gap: 5em
  align-items: center
  @media (min-width: 601px)
    grid-template-columns: 1fr 1fr
  p + *
    margin-top: 1em

  #text_container
    margin: 2.5em 0
// }}}
// latest{{{
#latest
  &:before
    height: 100%
    @media (min-width: 601px)
      height: 50%

  h2
    margin-bottom: 1em
  a:after
    content: ''
    display: inline-block
    border: solid currentColor
    border-width: 0 0.15em 0.15em 0
    transform: rotate(-45deg)
    padding: 0.15em
    margin-left: 0.25em
    margin-bottom: 0.10em


// }}}
// call to action{{{
#call_to_action
  padding: 7.5em 5em
  text-align: center
  place-items: center
  @media (min-width: 601px)
    grid-template-columns: 2fr 1fr
    text-align: start

  article h2:first-child
    font-weight: normal
    
  a h2
    width: max-content
    padding: 0.25em 1em
    margin: 0 auto
// }}}
// footer{{{
#footer
  // align-items: center
  padding-bottom: 1em
  @media (min-width: 601px)
    grid-template-columns: 1.5fr 1fr 1fr
  img
    width: 75%
    @media (min-width: 601px)
      width: 35%
    margin: 0 auto
    margin-bottom: 2.5em

  #links
    text-align: center

    // &:before, &:after
    //   content: ""
    //   display: block
    //   height: 0.5px
    // &:before
    //   margin-bottom: 2.5em
    // &:after
    //   margin-top: 2.5em

    a + *
      margin-top: 1em

  #contact
    display: flex
    gap: 1em
    margin-bottom: 2.5em
    align-items: center

    justify-content: center
    @media (min-width: 601px)
      justify-content: start

  i
    padding: 0.5em
    border-radius: 50%
    font-size: 1.5em

  #email
    margin-top: 2.5em

// }}}

// sign up{{{
#sign_up
  padding: 5em 0

  section
    border-radius: 1em
    padding: 2.5em

    display: grid
    grid-gap: 2.5em
    place-items: center

    margin: 0 auto

    width: 90%
    @media (min-width: 601px)
      width: 75%

    @media (min-width: 601px)
      grid-template-columns: auto auto auto

    // margin: 0 auto

    // display: flex
    // gap: 2.5em
    // flex-direction: column
    // justify-content: center
    // align-items: center

    // @media (min-width: 601px)
    //   flex-direction: row

    // align-items: center

    .submit
      margin: 2.5em 0

    input
      margin-top: 1em
      // width: 100%
      padding: 0.5em

      // &:last-of-type
      //   margin: 2.5em 0
        
    .button
      padding: 1em 2.5em

      display: flex
      justify-content: center
      align-items: center

      // display: grid
      // grid-auto-flow: column
      // grid-gap: 0

      & + *
        margin-top: 1em

      p
        margin-left: 1em
        font-weight: bold
      i
        font-size: 1.5em

    article:first-child    
      p:last-of-type,
      a
        display: inline-block
      a
        margin-left: 1ch
// }}}

// body
//   overflow-x: hidden !important

#mission_vision
  place-items: center
  h2,
  p
    margin-bottom: 0.5em

  h2:last-of-type
    margin-top: 1em

  p
    padding-left: 1em

#about_paragraphs
  margin-top: 5em
  padding-bottom: 0
  padding-top: 0

#text_container
  p
    padding-left: 1.5em
    max-width: 100%

    & + *
      margin-top: 1.5em

#tzgc,
#about
  #header_texts
    top: 70% !important

#location
  grid-gap: 5em

.register
  @media (min-width: 601px)
    grid-template-columns: auto !important

  .input_section
    display: grid
    grid-template-columns: auto auto

    & > :nth-child(2n)
      align-self: end
      margin-left: 2.5em

  p
    margin-top: 2.5em

  h3
    margin-top: 5em

#preloader
  width: 100vw
  height: 100vh
  position: fixed
  z-index: 999
  background: white
  opacity: 1
  transition: opacity 1.5s

#resources
  .title
    display: flex
    margin: 2.5em 0
    &:after
      margin-left: 1em
      content: ''
      display: block
      flex: 1
      align-self: center
      height: 0.10em
      background: red

  .resources_item_container
    .resources_item
      display: grid
      grid-template-columns: auto auto
      gap: 2.5em

      aside
        align-self: center

      p,
      a
        margin-top: 0.5em


input[type="submit"]
  padding: 0.5em

input,
textarea
  padding: 0.5em


#contact_section section #contact h2
  text-align: center

#contact_section section article:nth-child(2)
  align-self: center
  line-height: 1

  p
    margin: 0

  p:last-child,
  p:nth-last-child(3)
    margin-top: 1em

#form_contact input:first-child
  display: block
  width: 100%
  &:focus
    outline: none

// events{{{
#events
  h3,
  a
    text-align: center

  p
    margin: 2.5em 0 5em 0
    // padding: 1em 0 1em 2em
    max-width: 100%

  h3
    margin-top: 1em
  a:after
    content: ''
    display: inline-block
    border: solid currentColor
    border-width: 0 0.15em 0.15em 0
    transform: rotate(-45deg)
    padding: 0.15em
    margin-left: 0.25em
    margin-bottom: 0.10em
// }}}
// about{{{
#about
  #club
    padding: 0
    grid-gap: 0
    article:first-child
      padding: 5em
      p
        margin-top: 1em

    article:last-child
      overflow: hidden
      img
        transform: scale(3)
        @media (min-width: 601px)
          transform: scale(3) translate(-17%, 5%)

  #focus
    place-items: center
    #text_container
      margin-top: 2.5em

  #focus_areas

    padding-top: 0
    padding-bottom: 0

    .grid
      margin-top: 2.5em
      grid-template-columns: repeat(3, auto)
      grid-gap: 2em 0.5em
      @media (min-width: 601px)
        grid-template-columns: repeat(5, auto)

      overflow: hidden
      max-height: 0
      transition: max-height 0.5s

      p
        padding-left: 1em

    & > p
      max-width: 100%
      margin-top: 2.5em

    input
      display: none

    label
      display: flex
      justify-content: space-between

    #toggler_accordion:checked
      ~ .grid
        max-height: 600px
      ~ label .arrow:after
        transform: rotate(45deg)

  #activities
    p
      max-width: 100%
      margin-top: 2.5em

  #circle
    padding: 0
    grid-gap: 0
    article
      padding: 5em
    article:first-child
      p
        margin-top: 2.5em
    article:last-child
      h2
        margin-top: 2.5em
        margin-bottom: 1em
  #affiliation
    .grid
      margin-top: 1em
      .affiliation_container
        padding: 2.5em
        margin-top: 1em
        p + *
          margin-top: 2.5em
  #resources_redirect
    padding-top: 0
    p,
    a
      display: inline-block
// }}}
