// call to action{{{
#call_to_action
  padding: 7.5em 5em
  text-align: center
  @media (min-width: 601px)
    grid-template-columns: 2fr 1fr
    text-align: start

  article h2:first-child
    font-weight: normal
    
  a h2
    width: max-content
    padding: 0.25em 1em
    margin: 0 auto
// }}}
// footer{{{
#footer
  align-items: center
  img
    width: 75%
    @media (min-width: 601px)
      width: 50%
    margin: 0 auto
    margin-bottom: 2.5em

  #links
    text-align: center

    // &:before, &:after
    //   content: ""
    //   display: block
    //   height: 0.5px
    // &:before
    //   margin-bottom: 2.5em
    // &:after
    //   margin-top: 2.5em

    a + *
      margin-top: 1em

  #contact
    display: flex
    gap: 1em
    margin-bottom: 2.5em
    align-items: center

    justify-content: center
    @media (min-width: 601px)
      justify-content: start

  i
    padding: 0.5em
    border-radius: 50%
    font-size: 1.5em

  #email
    margin-top: 2.5em

// }}}
// header{{{
#header

  padding: 0
  display: grid

  grid-template-rows: 200px auto
  @media (min-width: 601px)
    grid-template-rows: auto
    grid-template-columns: 1fr 1.75fr

  #ripple_container
    overflow: hidden
    svg,
    img
      // transform: scale(3) translate(0, 7%)
      transform: scale(3) translate(0, 4%)
      @media (min-width: 601px)
        transform: scale(3) translate(17%, 10%)

  #header_hero
    article
      position: relative
      #header_texts
        position: absolute
        width: 100%
        top: 50%
        transform: translateY(-50%)

        h1, h2
          text-align: center

        // left: 50%
        // transform: translateX(-50%)

      &:before
        content: ""
        position: absolute
        inset: 0
        background: rgba(black, 0.25)
// }}}
// who we are{{{
#who_we_are
  grid-gap: 5em
  align-items: center
  @media (min-width: 601px)
    grid-template-columns: 1fr 1.5fr
  p + *
    margin-top: 1em

  #text_container
    margin: 2.5em 0
    padding: 1em 0
    padding-left: 2.5em
// }}}
// registration{{{
#registration
  padding-top: 10em
  &:before
    top: 0
  #registration_container
    grid-gap: 0
    article
      padding: 2em
      &:nth-child(3)
        padding-bottom: 5em
        position: relative

        a
          width: max-content
          padding: 1em 2em
          position: absolute

          bottom: 0
          left: 50%
          transform: translate(-50%, 50%)

#registration,
#latest
  position: relative
  &:before
    content: ""
    position: absolute
    width: 100%
    height: 100%
    @media (min-width: 601px)
      height: 50%
    bottom: 0
    left: 0
    z-index: -99

// }}}
// latest{{{
#latest
  h2
    margin-bottom: 1em
  a:after
    content: ''
    display: inline-block
    border: solid currentColor
    border-width: 0 0.15em 0.15em 0
    transform: rotate(-45deg)
    padding: 0.15em
    margin-left: 0.25em
    margin-bottom: 0.10em


// }}}
