@import url('https://fonts.googleapis.com/css2?family=Poppins')
$font_sans: "Poppins", sans-serif

html,
body
  font-family: $font_sans
  // font-size: 14px
  font-size: clamp(14px, 1vw, 1vw)

h1
  font-size: 3rem !important
h2
  font-size: 2rem !important

h3
  font-size: 1.5rem !important

#header_texts
  h2
    font-weight: 300
    font-size: 1.25rem !important
    @media (min-width: 601px)
      font-size: 2rem !important
      
  h1
    font-size: 2rem !important
    @media (min-width: 601px)
      font-size: 4rem !important

nav a
  font-weight: bold


#sign_up
  section
    a
      font-weight: bold

    .submit
      font-weight: bold


// #call_to_action
//   article h2:first-child,
//   a h2
//     font-weight: normal

#call_to_action
  article h2:first-child, span
    font-weight: normal
    font-size: 1.8rem !important
  a
    font-size: 1.5em

#registration
  a
    font-size: 1.5em

#footer
  article:last-child,
  article:nth-last-child(3) 
    p
      font-size: 0.75em

.register
  h2,
  h3
    font-weight: normal


input[type="submit"]
  font-weight: bold

// ::placeholder
//   font-size: 1.25em
