@import url('https://fonts.googleapis.com/css2?family=Poppins')
$font_sans: "Poppins", sans-serif

html,
body
  font-family: $font_sans
  font-size: 14px

h1
  font-size: 3rem !important
h2
  font-size: 2rem !important

h3
  font-size: 1.5rem !important

#header_texts
  h2
    font-weight: 300
  h1
    font-size: 4rem !important

nav a
  font-weight: bold
