extends markups/layout
include markups/header
block main
  #tzgc
    +header('hero_3zgc', '', '3Z Global Centre' )
    section#location.grid.two
      article.moved_left
        img(src="/public/images/mission_vision.png.webp").shadow
      article.moved_right
        #text_container
          p The 3Z Global Centre is the focal point of the global management structure of the 3ZERO Clubs. All Clubs, Circles, Networks, Support Organisations, and Affiliating Institutions are registered with it. It aims at resolving all issues relating to the Clubs. It will have the final decision-making power on all issues relating to organisational matters such as the procedures, rules, objectives, registration, affiliation, cancellation of registration, acceptance and cancellation of membership in any Circle. 
          p The 3Z Global Centre serves as a one-stop help centre for all 3ZERO Clubs, Circles, Support Organisations, Younus Social Business Centre (YSBC), and facilitates networking among all Clubs and associated organisations. It takes the role of co-organising and coordinating network events, programmes, and competitions. It will make efforts to connect Clubs with foundations, government agencies, international organisations, corporates, media, business leaders and organisations who may promote and support Club activities.
