extends markups/layout
include markups/header
block main
  #tzgc
    +header('hero_3zgc', '', '3Z Global Centre' )
    //- section#location
    section#location.grid.two

      //- article.moved_left
      //-   iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.2938915827895!2d90.34826811408531!3d23.80814619248678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c14bae48ccf5%3A0x4b677293410b7502!2sYY%20Ventures%20Limited!5e0!3m2!1sen!2sbd!4v1624126967642!5m2!1sen!2sbd" allowfullscreen="" loading="lazy").shadow

      //- article.moved_left
      article#contact
        h2 Contact
        form#form_contact
          input(type="text" name="first_name" placeholder="Full Name")
          input(type="email" name="first_name" placeholder="Email Address")
          textarea(placeholder="Message" rows='5')
          input(type="submit" value="Send Message")

      //- article.moved_right
      article
        #text_container
          p The 3Z Global Centre is the focal point of the global management structure of the 3ZERO Clubs. All Clubs, Circles, Networks, Support Organisations, and Affiliating Institutions are registered with it. It aims at resolving all issues relating to the Clubs. It will have the final decision-making power on all issues relating to organisational matters such as the procedures, rules, objectives, registration, affiliation, cancellation of registration, acceptance and cancellation of membership in any Circle. 
          p The 3Z Global Centre serves as a one-stop help centre for all 3ZERO Clubs, Circles, Support Organisations, Yunus Social Business Centre (YSBC), and facilitates networking among all Clubs and associated organisations. It takes the role of co-organising and coordinating network events, programmes, and competitions. It will make efforts to connect Clubs with foundations, government agencies, international organisations, corporates, media, business leaders and organisations who may promote and support Club activities.
