extends markups/layout
include markups/header
block main
  #about
    +header('hero_about', 'About', '3ZERO Club' )
    //- about paragraph{{{
    section#about_paragraphs
      article#text_container
        p.faded_out(style="--order: 2") The 3ZERO Club is an initiative towards achieving the Nobel Peace Laureate Professor Muhammad Yunus’s vision of creating a world of three zeros — #[strong zero net carbon emission, zero wealth concentration for ending poverty, and zero unemployment by unleashing entrepreneurship in all.]
        p.faded_out(style="--order: 3") This initiative of setting up a global network of 3ZERO Clubs is undertaken to make young people familiar with the goal of three zero world and ways to achieve this goal with the creative initiatives of young people. Each Club is a self-formed, self-contained mini-Club of five members with self-chosen tasks to play a role in creating a three zero world. Each Club empowers itself by connecting with other such Clubs, having a larger range of common features. The Clubs become exponentially powerful as they link themselves up with each other. This networking expedites, in a systematic way, the process of reaching the goal faster.
    // }}}
    //- mission & vision{{{
    section#mission_vision.grid.two
      article.moved_left
        img(src="public/images/about_mission_vision.png.webp").shadow
      article.moved_right
        h2 Vision
        #text_container
          p The vision of the 3ZERO Club is to create a world of three zeros – #[strong zero net carbon emission, zero wealth concentration for ending poverty, and zero unemployment by unleashing entrepreneurship in all.]
        h2 Mission
        #text_container
          p The mission of the 3ZERO Club is to inspire and enable the youth to ideate, create and lead with the entrepreneurial spirit to solve the most pressing social and environmental issues of our time.
    // }}}
    //- club{{{
    section#club.grid.two
      article
        h2.faded_out(style="--order: 2") Club
        p.faded_out(style="--order: 3") Each 3ZERO Club is formed with a fixed number of five young persons between the age of 12 and 35 years. The age difference between the oldest and youngest members within a Club cannot be more than seven years. Each Club is headed by a person with the title of Key Person and assisted by a deputy known as Deputy Key Person. Members at the time of the registration are known as Founding Members, the Key Person as the Founding Key Person, the deputy as the Founding Deputy Key person. 
      article
        img.faded_out(style="--order: 4" src="public/images/ripple2.svg")
    // }}}
    //- focus{{{
    section#focus.grid.two
      article.moved_left
        h2 3ZERO Club Focus Areas
        #text_container
          p There are so many things a 3ZERO Club can do to turn the world around. A Club may start with a very broad area of interest, such as achieving a world of three zeros.  To make it manageable, the Club has to find a narrow area within the broad subject.  This needs intensive discussion among the Club members. They can see what other 3ZERO Clubs are doing and the common interest among the members of their Club.
          p The focus decided by the Club becomes a part of the name of the Club. For example, if the Club chooses ‘environment’ as the core issue, it will be known as “3ZERO Club for Environment”. 
      article.moved_right
        img(src="public/images/about_focus.png.webp").shadow
    // }}}
    //- focus area{{{
    section#focus_areas
      input#toggler_accordion(type="checkbox")
      label(for="toggler_accordion")#button
        h3 There are many focus areas to choose from, such as:
        #indicator.arrow.faded_out(style="--order: 2")
      .grid
        p Environment & Climate Change
        p Technology & Innovation
        p WASH
        p Education
        p Microcredit
        p Health & Wellbeing
        p Entrepreneurship
        p Sports
        p History
        p Employment
        p Circular Economy
        p Waste
        p Art, Culture & Music
        p People with Disabilities
        p Tourism
        p Agriculture
        p Economics
        p Forestry
        p Food & Nutrition
        p Mother & Child
        p Social Business
        p Literature
        p Transportation
        p Energy
        p Social Fiction
        p Journalism
      p A Club is free to choose any area of focus. A Club can choose a focus that is not in the above list, or a branch of any one of these. If requested, 3Z Global Centre may connect a 3ZERO Club with Clubs with similar interest.
    // }}}
    //- activities{{{
    section#activities
      h2 3ZERO Club Activities
      #text_container
        p.faded_out(style="--order: 2") The activities of a 3ZERO Club can be as diversified as the members making it up. Each Club is its own decision-maker within the framework of the mission of the Club. It will decide on the focus of its attention. It can narrow down its attention to a very specific aspect of a large agenda. It will all depend on the aptitude, special interest, experience and orientation of the Club members. A Club may begin with an objective of learning – to learn from members from other Clubs. But sooner or later it has to start a programme around a particular subject on which it will focus. The focus area can be changed any time later by notifying the 3Z Global Centre that is responsible for keeping all records. 3ZERO Clubs set up a process of learning from each other, inspiring each other and finding strength from each other.
    // }}}
    //- circle{{{
    section#circle.grid.two
      article
        h2.faded_out(style="--order: 2") Circle and Circle Centres
        p.faded_out(style="--order: 3") A Club may reach out to another Club or a group of Clubs having the same focus area or some common denominator. It may look for Clubs in the same city or even neighborhood or look for Clubs of a specific type of membership, such as same gender or age group. Five or more Clubs with some common characteristics may form a cluster to be known as a Circle. Clubs may form a Circle based on common country, language, province, district, city, a particular neighbourhood of a city, or any other administrative or geographical identity, such as the multi-national entities like EU, ASEAN, SAARC etc. or any other common denominator.
        p.faded_out(style="--order: 4") Circles decide their own common programmes. The initiating Club or one of the participating Clubs is designated as the Circle Centre to undertake the coordinating role of the Circle Centre. The key person of the Centre is known as the “Navigator” for the Circle. The co-key person is known as the “Co-Navigator”.
      article
        h3.faded_out(style="--order: 2") Anyone from any part of the world, from any poor, rich, rural, suburban and city areas, can be a Club member or create a 3ZERO Club.
        h2.faded_out(style="--order: 3") Network
        #text_container
          p.faded_out(style="--order: 4") In addition to Circles, Clubs can form a “Network”. Unlike the Circle, the Network doesn’t need any common denominator. For any convenience, Clubs can form Networks. Networks have Network Centres with Network Navigators and Deputy Navigator, just like the Circles. The common goal for all Clubs would be to connect with each other for more power to create more impact.
    // }}}
    //- //- affiliation{{{
    //- section#affiliation
    //-   h2 Affiliating Institutions
    //-   .grid.two
    //-     article
    //-       h3 Yunus Social Business Centre (YSBC)
    //-       .affiliation_container
    //-         p A Yunus Social Business Centre (YSBC) is an academic centre located in a university to undertake research, action research and offer courses on social business. YSBCs may offer informal affiliation to 3ZERO Clubs to help them organise their programmes, provide guidance to implement programmes, connect university faculty and students, monitor the ctivities of the Club, offer training facilities, undertake action-researches, conduct design competitions, connect them with resource persons, and give them technical assistance.
    //-         p As a token of affiliation, the YSBC will issue a certificate of affiliation to a 3ZERO Club. A YSBC may withdraw its affiliation to any Club without assigning any reason. Similarly, a Club may decide to discontinue its affiliation with a YSBC. In both cases, it has to be done through 3Z Global Centre. If a Club is not affiliated with a YSBC, it would be deemed to be affiliated with 3Z Global Centre.
    //-     article
    //-       h3 3Z Support Organization
    //-       .affiliation_container
    //-         p Organisations that are willing to provide any kind of assistance to Clubs may be registered with 3Z Global Centre as 3Z Support Organisations. Clubs, Circles and Networks can approach the 3Z Global Centre to get connected with appropriate 3Z Support Organisations. There will be choices of programmes offered to Clubs, and Circles, such as design competitions, workshops, field visits, events etc. Some 3Z Support Organisations may aim at the specific type of Clubs, Circles and Networks, and others may offer services to all Clubs, Circles, and Networks.
    //- // }}}
    //- affiliating{{{
    section#affiliating.grid.two
      article.moved_left
        img(src="public/images/about_focus.png.webp").shadow
      article.moved_right
        h2 Affiliating Institutions
        h3 Yunus Social Business Centre (YSBC)
        p A Yunus Social Business Centre (YSBC) is an academic centre located in a university to undertake research, action research and offer courses on social business. YSBCs may offer informal affiliation to 3ZERO Clubs to help them organise their programmes, provide guidance to implement programmes, connect university faculty and students, monitor the ctivities of the Club, offer training facilities, undertake action-researches, conduct design competitions, connect them with resource persons, and give them technical assistance.
        p As a token of affiliation, the YSBC will issue a certificate of affiliation to a 3ZERO Club. A YSBC may withdraw its affiliation to any Club without assigning any reason. Similarly, a Club may decide to discontinue its affiliation with a YSBC. In both cases, it has to be done through 3Z Global Centre. If a Club is not affiliated with a YSBC, it would be deemed to be affiliated with 3Z Global Centre.
    // }}}
    //- support organization{{{
    section#support
      h2 3Z Support Organizations
      #text_container
        p.faded_out(style="--order: 2") Organisations that are willing to provide any kind of assistance to Clubs may be registered with 3Z Global Centre as 3Z Support Organisations. Clubs, Circles and Networks can approach the 3Z Global Centre to get connected with appropriate 3Z Support Organisations. There will be choices of programmes offered to Clubs, and Circles, such as design competitions, workshops, field visits, events etc. Some 3Z Support Organisations may aim at the specific type of Clubs, Circles and Networks, and others may offer services to all Clubs, Circles, and Networks.
    // }}}
    //- resource redirect{{{
    section#resources_redirect
      p To know more about 3ZERO Club, visit the &nbsp
      a(href="/resources") resources
      p &nbsp page.
    // }}}
