extends markups/layout
include markups/header
block main
  +header('hero_events', '', 'National & International Events' )
  //- events{{{
  section#events
    h2.faded_out(style="--order: 1") Social Business and 3ZERO Club Events
    p.quote.faded_out(style="--order: 2") 3ZERO Clubs initiate and manage events such as Social Fiction Design Competition, Social Business Design Competition, workshops, co-create joint events, and participate in global events like Social Business Day and Global Social Business Summit every year.
    //- #events_container.grid.three
    #events_container.grid.two
      article(style="--order: 1").moved_left
        img(src="public/images/optimized/events_1.jpg").shadow
        h3 Social Business Design Competition
        a(href="#") Coming Soon
      article(style="--order: 1").moved_right
        img(src="public/images/optimized/events_2.jpg").shadow
        h3 Social Fiction Design Competition
        a(href="#") Coming Soon
      //- article(style="--order: 3").moved_down
      //-   img(src="public/images/optimized/events_5.jpg").shadow
      //-   h3 Social Business Day
      //-   a(href="https://socialbusinesspedia.com/events/sbd2021" target="_blank" rel="noopener noreferrer") Register Now
  // }}}
