extends markups/layout
include markups/header
block main
  +header('mission_vision', 'Creating a World of', 'THREE ZEROS' )
  //- regsitration{{{
  section#registration
    article.faded_out
      h2.moved_down(style="--order: 1") Create a 3ZERO Club
      p.moved_down(style="--order: 1.5") Ideate, create and lead with your entrepreneurial spirit
      p.moved_down(style="--order: 1.5") to create a world of three zeros
      a(href="register" style="--order: 2").orange_button.moved_down REGISTER NOW
      //- a(href="sign-up" style="--order: 3").orange_button.moved_down REGISTER NOW
  // }}}
  //- who we are{{{
  section#who_we_are.grid.two
    article.moved_left
      img(src="public/images/optimized/who_we_are.jpg").shadow
    article.moved_right
      h3 We Are
      h2 Creating a World of Three Zeros
      #text_container
        p The 3ZERO Club is an initiative towards achieving the Nobel Peace Laureate Professor Muhammad Yunus’s vision of creating a world of three zeros — zero net carbon emission, zero wealth concentration for ending poverty, and zero unemployment by unleashing entrepreneurship in all.
      a(href="about") Learn More
  // }}}
  //- latest{{{
  section#latest
    h3 Latest
    h2 Social Business and 3ZERO Club Events
    //- #latest_container.grid.three
    #latest_container.grid.yunus
      article(style="--order: 2").moved_down
        img(src="public/images/optimized/events_3.jpg").shadow
        h3 3ZERO Club Essay Writing Competition
        a(href="competition") See Details
      article(style="--order: 3").moved_down
        img(src="public/images/optimized/events_4.jpg").shadow
        h3 3ZERO Club Convention
        a(href="https://zoom.us/meeting/register/tJwscOCorT4uHda157FN1TCxgy9D5e2WMgRD") Join Now
      article(style="--order: 0").moved_down
        img(src="public/images/optimized/events_1.png").shadow
        h3 Social Business Design Competition
        a(href="#") Coming Soon
      article(style="--order: 1").moved_down
        img(src="public/images/optimized/events_2.png").shadow
        h3 Social Fiction Design Competition
        a(href="#") Coming Soon
      //- article(style="--order: 3").moved_down
      //-   img(src="public/images/optimized/events_5.jpg").shadow
      //-   h3 Social Business Day
      //-   a(href="https://socialbusinesspedia.com/events/sbd2021" target="_blank" rel="noopener noreferrer") Register Now
  // }}}
  //- call to action{{{
  section#call_to_action.grid.two
    article.moved_left

      //- h2 Build networks, take actions and unfold yourself as a powerful force to create
      //- h2 a world of three zeros.

      h2 Build networks, take actions and unfold yourself as a powerful force to create a world of three zeros

    //- a(href="" target="_blank" rel="noopener noreferrer").moved_right
    //-   h2 REGISTER NOW

    a(href="register").moved_right.orange_button REGISTER NOW
    //- a(href="sign-up").moved_right.orange_button REGISTER NOW

  // }}}

