extends markups/layout
block main
  main#sign_up
    section.register
      article
        h1 3ZERO Club
        h2 Member Registration Form
        p#hint You need to #[strong use the same email address] that was used during your 3ZERO Club registration.#[br]You should complete their profile below in order to register their 3ZERO Club. For questions, please contact at connect@3zero.club.

        form#form_register_member
          h3 Member Information

          .grid.two

            .field
              input(placeholder=" " name="name_first" required)
              p First Name
            .field
              input(placeholder=" " name="name_last" required)
              p Last Name
            .field
              input(type="email" placeholder=" " name="email" required)
              p Email
            .field
              input(type="tel" placeholder=" " name="contact" required)
              p Contact Number
            .field
              input(type="date" placeholder=" " name="date_of_birth" required)
              p Date of Birth
            .field
              select(required)#gender
                option
                option(value="Male") Male
                option(value="Female") Female
                option(value="Others") Others
                option(value="Prefer not to answer") Prefer not to answer
              p Gender

          .field
            select(required)#education
              option
              option(value="psc") PEC (5th Grade)
              option(value="jsc") JSC (8th Grade) 
              option(value="ssc") SSC/O Level (10th Grade)
              option(value="hsc") HSC/A Lavel (12 Grade)
              option(value="bachelors") Bachelors
              option(value="masters") Masters
              option(value="phd") PhD
              option(value="diploma") Diploma
              option(value="didn't attend school") Didn't attend school
              option(value="others") Others
            p Level of Education

          .grid.three

            .field
              input(placeholder=" " name="profession")
              p What is your profession?
            .field
              input(placeholder=" " name="organization")
              p Name of your organization
            .field
              input(placeholder=" " name="position")
              p Your position in your organization

          p Please rank the following missions based on your priorities? 
          aside
            label
              input(type="checkbox" value="Zero net carbon emission" name="zeros")
              | Zero net carbon emission 
            label
              input(type="checkbox" value="Zero wealth concentration for ending poverty" name="zeros")
              | Zero wealth concentration for ending poverty
            label
              input(type="checkbox" value="Zero unemployment by unleashing entrepreneurship in all" name="zeros")
              | Zero unemployment by unleashing entrepreneurship in all

          p Why are you interested in joining the 3ZERO Club? (Please choose at least five)
          aside
            label
              input(type="checkbox" value="Want to learn why global warming is taking place." name="reasons") 
              | Want to learn why global warming is taking place. 
            label
              input(type="checkbox" value="I love my planet. It is my home. I want to protect it." name="reasons") 
              | I love my planet. It is my home. I want to protect it. 
            label
              input(type="checkbox" value="I want to find friends to work together to save the world." name="reasons") 
              | I want to find friends to work together to save the world. 
            label
              input(type="checkbox" value="Because I believe I must protect the planet. I know I can play my part in it." name="reasons") 
              | Because I believe I must protect the planet. I know I can play my part in it.  
            label
              input(type="checkbox" value="Because I want to be the best friend of the planet, not it's enemy." name="reasons") 
              | Because I want to be the best friend of the planet, not it's enemy. 
            label
              input(type="checkbox" value="I don't want human beings turning into an endangered species, nor do I want anybody else on this planet to become an endangered species." name="reasons") 
              | I don't want human beings turning into an endangered species, nor do I want anybody else on this planet to become an endangered species.  
            label
              input(type="checkbox" value="I want to learn about protecting the planet and all the living beings on it." name="reasons") 
              | I want to learn about protecting the planet and all the living beings on it. 
            label
              input(type="checkbox" value="I love my planet. I want to take care of it.  I don't want any harm coming to it." name="reasons") 
              | I love my planet. I want to take care of it.  I don't want any harm coming to it. 
            label
              input(type="checkbox" value="This planet is my home. I want to keep it safe and beautiful." name="reasons") 
              | This planet is my home. I want to keep it safe and beautiful. 
            label
              input(type="checkbox" value="I want to make my family, friends, and acquaintances aware of the problems faced by our planet." name="reasons") 
              | I want to make my family, friends, and acquaintances aware of the problems faced by our planet.  
            label
              input(type="checkbox" value="I want to build my network to take care of the planet and the people," name="reasons") 
              | I want to build my network to take care of the planet and the people, 
            label
              input(type="checkbox" value="I want to find friends around the world to learn together and work together to protect the planet." name="reasons") 
              | I want to find friends around the world to learn together and work together to protect the planet. 
            label
              input(type="checkbox" value="I want to contribute to keeping the planet safe and beautiful." name="reasons") 
              | I want to contribute to keeping the planet safe and beautiful. 
            label
              input(type="checkbox" value="I want to know more from my friends and work out a plan to ensure the safety of the planet and the people." name="reasons") 
              | I want to know more from my friends and work out a plan to ensure the safety of the planet and the people. 
            label
              input(type="checkbox" value="I want to find out how many other people of my age feel the same way about the dangers to the planet and find out how we can overcome those dangers." name="reasons") 
              | I want to find out how many other people of my age feel the same way about the dangers to the planet and find out how we can overcome those dangers. 
            label
              input(type="checkbox" value="We, the young people, are the power. We must use it to safeguard the planet." name="reasons") 
              | We, the young people, are the power. We must use it to safeguard the planet. 
            label
              input(type="checkbox" value="I feel I must start taking actions promptly. I have no time to waste. The 3ZERO Club network will connect me with friends who feel the same way as I do." name="reasons") 
              | I feel I must start taking actions promptly. I have no time to waste. The 3ZERO Club network will connect me with friends who feel the same way as I do. 
            label
              input(type="checkbox" value="I am ready. I want to find other friends who are ready too." name="reasons") 
              | I am ready. I want to find other friends who are ready too. 
            label
              input(type="checkbox" value="I want to begin an ongoing learning process to protect the planet." name="reasons") 
              | I want to begin an ongoing learning process to protect the planet. 
            label
              input(type="checkbox" value="I want to be part of a global action led by youth like me to ensure the complete safety of the planet and the people who live on it." name="reasons") 
              | I want to be part of a global action led by youth like me to ensure the complete safety of the planet and the people who live on it.  
            label
              input(type="checkbox" value="I like the goal of creating a world of three zeros.  I want to be part of the action to make it happen." name="reasons") 
              | I like the goal of creating a world of three zeros.  I want to be part of the action to make it happen.  
            label
              input(type="checkbox" value="Because I don't want to see poverty in the world." name="reasons") 
              | Because I don't want to see poverty in the world. 
            label
              input(type="checkbox" value="I want to be part of the initiative to create a world without poverty." name="reasons") 
              | I want to be part of the initiative to create a world without poverty. 
            label
              input(type="checkbox" value="I believe poverty belongs to museums, not to human society." name="reasons") 
              | I believe poverty belongs to museums, not to human society. 
            label
              input(type="checkbox" value="Because I believe poverty is not created by the poor people, it is created by the system. Therefore, I want to participate in changing the system." name="reasons") 
              | Because I believe poverty is not created by the poor people, it is created by the system. Therefore, I want to participate in changing the system. 
            label
              input(type="checkbox" value="Because I believe that if we want to eliminate poverty, we can do it. I want to be part of that initiative." name="reasons") 
              | Because I believe that if we want to eliminate poverty, we can do it. I want to be part of that initiative. 
            label
              input(type="checkbox" value="I believe that nothing is impossible for human beings. We can create a world of three zeros if we want it. I want to be part of the process to make it happen." name="reasons") 
              | I believe that nothing is impossible for human beings. We can create a world of three zeros if we want it. I want to be part of the process to make it happen.  
            label
              input(type="checkbox" value="I want to participate in any programme to turn all human beings into entrepreneurs. I want to understand the process to take it to new heights." name="reasons") 
              | I want to participate in any programme to turn all human beings into entrepreneurs. I want to understand the process to take it to new heights. 
            label
              input(type="checkbox" value="I want to understand social business principles to examine if I can use them to create a world of three zeros." name="reasons") 
              | I want to understand social business principles to examine if I can use them to create a world of three zeros.  
            label
              input(type="checkbox" value="I want to make myself familiar with the existing social businesses." name="reasons") 
              | I want to make myself familiar with the existing social businesses.  
            label
              input(type="checkbox" value="I want to participate in designing social businesses and creating social fictions." name="reasons") 
              | I want to participate in designing social businesses and creating social fictions. 
            label
              input(type="checkbox" value="We want to create our own \"circles\" of 3ZERO Clubs to pursue our interest collectively." name="reasons") 
              | We want to create our own "circles" of 3ZERO Clubs to pursue our interest collectively. 
            label
              input(type="checkbox" value="We want to get connected with people who are contributing to creating a better world and learn from them." name="reasons") 
              | We want to get connected with people who are contributing to creating a better world and learn from them.  
            label
              input(type="checkbox" value="I want to attend events and conferences to listen to people who are contributing to protecting the planet and the people." name="reasons") 
              | I want to attend events and conferences to listen to people who are contributing to protecting the planet and the people. 
            label
              input(type="checkbox" value="I want to have a platform where I can share my thoughts with others and work with them if they feel the same way as I do." name="reasons") 
              | I want to have a platform where I can share my thoughts with others and work with them if they feel the same way as I do. 
            label
              input(type="checkbox" value="I don't want to be a silent spectator of the bad things happening to the planet and the people. I want to participate in the best way I can to stop them. I want to contribute to creating a better world to the best of my ability." name="reasons") 
              | I don't want to be a silent spectator of the bad things happening to the planet and the people. I want to participate in the best way I can to stop them. I want to contribute to creating a better world to the best of my ability.  
            label
              input(type="checkbox" value="I want to keep a watch on technology so that it cannot harm people." name="reasons") 
              | I want to keep a watch on technology so that it cannot harm people. 
            label
              input(type="checkbox" value="I want to keep watch on the process of wealth concentration and the policies and institutions which are helping the process." name="reasons") 
              | I want to keep watch on the process of wealth concentration and the policies and institutions which are helping the process. 
            label
              input(type="checkbox" value="I don't like wealth to be concentrated in a few hands, depriving others. I want to find out how wealth and people can always stay together rather than get segregated from each other. I want to learn how this can be done through an economical process." name="reasons") 
              | I don't like wealth to be concentrated in a few hands, depriving others. I want to find out how wealth and people can always stay together rather than get segregated from each other. I want to learn how this can be done through an economical process.  
            label
              input(type="checkbox" value="Because I care." name="reasons") 
              | Because I care. 
            label
              input(type="checkbox" value="I want to support technology that brings solutions to the problems faced by people." name="reasons") 
              | I want to support technology that brings solutions to the problems faced by people. 

          input.submit(type="submit" value="Submit")
          p.confirm The form was successfully submitted. Redirecting you to Home.
