extends markups/layout
block main
  main#sign_up
    section.register
      article
        h1 3ZERO Club
        h2 Member Registration Form
        p#hint You need to #[strong use the same email address] that was used during your 3ZERO Club registration.#[br]You should complete their profile below in order to register their 3ZERO Club. For questions, please contact at connect@3zero.club.

        form#form_register_member
          h3 Member Information

          .grid.two

            .field
              input(placeholder=" " name="name_first" required)
              p First Name
            .field
              input(placeholder=" " name="name_last" required)
              p Last Name
            .field
              input(type="email" placeholder=" " name="email" required)
              p Email
            .field
              input(type="tel" placeholder=" " name="contact" required)
              p Contact Number
            .field
              input(type="date" placeholder=" " name="date_of_birth" required)
              p Date of Birth
            .field
              select(required)#gender
                option
                option(value="Male") Male
                option(value="Female") Female
                option(value="Others") Others
                option(value="Prefer not to answer") Prefer not to answer
              p Gender

          .field
            select(required)#education
              option
              option(value="psc") P.S.C.
              option(value="jsc") J.S.C.
              option(value="ssc") S.S.C.
              option(value="hsc") H.S.C.
              option(value="hsc") Bachelors
              option(value="hsc") Masters
              option(value="hsc") PhD
              option(value="hsc") Diploma
              option(value="hsc") Didn't attend school
            p Level of Education

          .grid.three

            .field
              input(placeholder=" " name="profession")
              p What is your profession?
            .field
              input(placeholder=" " name="organization")
              p Name of your organization
            .field
              input(placeholder=" " name="position")
              p Your position in your organization

          p Please rank the following missions based on your priorities? 
          aside
            label
              input(type="checkbox" value="Zero net carbon emission" name="zeros")
              | Zero net carbon emission 
            label
              input(type="checkbox" value="Zero wealth concentration for ending poverty" name="zeros")
              | Zero wealth concentration for ending poverty
            label
              input(type="checkbox" value="Zero unemployment by unleashing entrepreneurship in all" name="zeros")
              | Zero unemployment by unleashing entrepreneurship in all

          input.submit(type="submit" value="Submit")
          p.confirm The form was successfully submitted. Redirecting you to Home.
