extends markups/layout
block main
  main#sign_up
    section.register
      article
        h1 3ZERO Club
        h2 Club Registration Form
        p Prospective clubs should fill out the registration form below in order to become a registered 3ZERO Club. For questions, please contact connect@3zero.club

        form#form_regsiter
          h3 Member Information
          .input_section
            p Email of Key Person
            input(type="email" placeholder="Email of Key Person")
            p Email of Deputy Key Person
            input(type="email" placeholder="Email of Deputy Key Person")
            p Email of Member 1
            input(type="email" placeholder="Email of Member 1")
            p Email of Member 2
            input(type="email" placeholder="Email of Member 2")
            p Email of Member 3
            input(type="email" placeholder="Email of Member 3")

          h3 Club Information
          .input_section
            p Which of the three zeros attracts you the most?

            aside
              input(type="checkbox" value="Zero net carbon emission ")
              p Zero net carbon emission 
              input(type="checkbox" value="Zero net carbon emission ")
              p Zero net carbon emission 

            p Club's Focus Area
            select#focus
              option(selected value="Environment and Climate Change ") Environment & Climate Change 
              option(value="Technology & Innovation") Technology & Innovation
              option(value="WASH") WASH
              option(value="Education") Education
              option(value="Microcredit") Microcredit
              option(value="Health & Wellbeing") Health & Wellbeing
              option(value="Entrepreneurship") Entrepreneurship
              option(value="Sports") Sports
              option(value="History") History
              option(value="Employment") Employment
              option(value="Circular Economy") Circular Economy
              option(value="Waste") Waste
              option(value="Art, Culture & Music") Art, Culture & Music
              option(value="People with Disabilities") People with Disabilities
              option(value="Tourism") Tourism
              option(value="Agriculture") Agriculture
              option(value="Economics") Economics
              option(value="Forestry") Forestry
              option(value="Food & Nutrition") Food & Nutrition
              option(value="Mother & Child") Mother & Child
              option(value="Social Business") Social Business
              option(value="Literature") Literature
              option(value="Transportation") Transportation
              option(value="Energy") Energy
              option(value="Social Fiction") Social Fiction
              option(value="Journalism") Journalism

          input.submit(type="submit" value="Submit")
