extends markups/layout
block main
  main#sign_up
    section
      article
        //- p Please fill up this form to register as a 3ZERO Club member
        p Thank you for your interest in 3ZERO Club. The registration of the 3ZERO Club will begin on #[strong June 28, 2021, at 14:00 (GMT+6).] Please check back again to create a 3ZERO Club.
