extends markups/layout
block main
  main#sign_up
    section
      article
        h3
          | Sign in to
          |
          span 3ZERO Club
        form
          input(type="email" placeholder="Email Address")
          input(type="password" placeholder="Password")
          input(type="submit" value="Sing In")
        p Not a member yet?
        a(href="sign-up") Register
      p or
      article
        .button
          i(class="fab fa-google")
          p Sign in with Goggle
        .button
          i(class="fab fa-facebook-f")
          p Sign in with Facebook
        .button
          i(class="fab fa-twitter")
          p Sign in with Twitter
