extends markups/layout
block main
  main#sign_up
    section
      article
        h3
          | Welcome to
          |
          span 3ZERO Club!
        //- p Please fill up this form to register as a 3ZERO Club member
        form
          input(type="text" placeholder="Full Name" required)
          input(type="email" placeholder="Email Address" required)
          input(type="submit" value="Regsiter")
        p Already a member?
        a(href="sign-in") Sing In
      p or
      article
        .button
          i(class="fab fa-google")
          p Register with Goggle
        .button
          i(class="fab fa-facebook-f")
          p Register with Facebook
        .button
          i(class="fab fa-twitter")
          p Register with Twitter
        .button
          i(class="fab fa-linkedin-in")
          p Register with LinkedIn
